# Ignore TypeScript source files
bin/
*.ts
*.map
tsconfig.json

# Ignore build junk
node_modules/
dist/**/*.map
templates/**/node_modules/
templates/**/dist/

# Ignore development files
.vscode/
.DS_Store
.env
